<!DOCTYPE html>
<html>
{FILE="templates/parts/head.html"}
<body>
	<div class="main">

		{FILE="templates/parts/banner.html"}
	
		{FILE="templates/parts/menu.html"}
			
		<div class="content">
			<div class="indent">
				<table>
					<tr>
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE1_IMG1} target="_blank">
								<img src={PLANE1_IMG1} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE1_NAME}></img>
							</a>
						</td>
					
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE1_IMG2} target="_blank">
								<img src={PLANE1_IMG2} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE1_NAME}></img>
							</a>
						</td>
				
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE1_IMG3} target="_blank">
								<img src={PLANE1_IMG3} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE1_NAME}></img>
							</a>
						</td>
					</tr>
				</table>
				
				<div class="delim_empty"></div>
				<hr align="{CONFIG="HR_ALIGN"}" width="{CONFIG="HR_WIDTH"}" size="{CONFIG="HR_SIZE"}" color="{CONFIG="MAIN_COLOR"}" />
				<div class="delim_empty"></div>
				
				<table>
					<tr>
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE2_IMG1} target="_blank">
								<img src={PLANE2_IMG1} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE2_NAME}></img>
							</a>
						</td>
					
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE2_IMG2} target="_blank">
								<img src={PLANE2_IMG2} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE2_NAME}></img>
							</a>
						</td>
				
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE2_IMG3} target="_blank">
								<img src={PLANE2_IMG3} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE2_NAME}></img>
							</a>
						</td>
					</tr>
				</table>
				
				<div class="delim_empty"></div>
				<hr align="{CONFIG="HR_ALIGN"}" width="{CONFIG="HR_WIDTH"}" size="{CONFIG="HR_SIZE"}" color="{CONFIG="MAIN_COLOR"}" />
				<div class="delim_empty"></div>
				
				<table>
					<tr>
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE3_IMG1} target="_blank">
								<img src={PLANE3_IMG1} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE3_NAME}></img>
							</a>
						</td>
					
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE3_IMG2} target="_blank">
								<img src={PLANE3_IMG2} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE3_NAME}></img>
							</a>
						</td>
				
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE3_IMG3} target="_blank">
								<img src={PLANE3_IMG3} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE3_NAME}></img>
							</a>
						</td>
					</tr>
				</table>
				
				<div class="delim_empty"></div>
				<hr align="{CONFIG="HR_ALIGN"}" width="{CONFIG="HR_WIDTH"}" size="{CONFIG="HR_SIZE"}" color="{CONFIG="MAIN_COLOR"}" />
				<div class="delim_empty"></div>
				
				<table>
					<tr>
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE4_IMG1} target="_blank">
								<img src={PLANE4_IMG1} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE4_NAME}></img>
							</a>
						</td>
					
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE4_IMG2} target="_blank">
								<img src={PLANE4_IMG2} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE4_NAME}></img>
							</a>
						</td>
				
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE4_IMG3} target="_blank">
								<img src={PLANE4_IMG3} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE4_NAME}></img>
							</a>
						</td>
					</tr>
				</table>
				
				<div class="delim_empty"></div>
				<hr align="{CONFIG="HR_ALIGN"}" width="{CONFIG="HR_WIDTH"}" size="{CONFIG="HR_SIZE"}" color="{CONFIG="MAIN_COLOR"}" />
				<div class="delim_empty"></div>
				
				<table>
					<tr>
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE5_IMG1} target="_blank">
								<img src={PLANE5_IMG1} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE5_NAME}></img>
							</a>
						</td>
					
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE5_IMG2} target="_blank">
								<img src={PLANE5_IMG2} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE5_NAME}></img>
							</a>
						</td>
				
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE5_IMG3} target="_blank">
								<img src={PLANE5_IMG3} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE5_NAME}></img>
							</a>
						</td>
					</tr>
				</table>
				
				<div class="delim_empty"></div>
				<hr align="{CONFIG="HR_ALIGN"}" width="{CONFIG="HR_WIDTH"}" size="{CONFIG="HR_SIZE"}" color="{CONFIG="MAIN_COLOR"}" />
				<div class="delim_empty"></div>
				
				<table>
					<tr>
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE6_IMG1} target="_blank">
								<img src={PLANE6_IMG1} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE6_NAME}></img>
							</a>
						</td>
					
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE6_IMG2} target="_blank">
								<img src={PLANE6_IMG2} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE6_NAME}></img>
							</a>
						</td>
				
						<td vertical-align="{CONFIG="AIRCRAFT_IMG_VALIGN"}" width="{CONFIG="AIRCRAFT_CEIL_WIDTH"}">
							<a href={PLANE6_IMG3} target="_blank">
								<img src={PLANE6_IMG3} width="{CONFIG="AIRCRAFT_IMG_WIDTH"}" title={PLANE6_NAME}></img>
							</a>
						</td>
					</tr>
				</table>
				
				<div class="delim_empty"></div>
				<hr align="{CONFIG="HR_ALIGN"}" width="{CONFIG="HR_WIDTH"}" size="{CONFIG="HR_SIZE"}" color="{CONFIG="MAIN_COLOR"}" />
				<div class="delim_empty"></div>
			</div>
		</div>
		
		{FILE="templates/parts/footer.html"}
		
	</div>
  
</body>
</html>